In [2]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
sdc_df = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
sdc_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [5]:
sdc_df.count()

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
School ID        39170
type             39170
size             39170
budget           39170
dtype: int64

In [9]:

sdc_df.dtypes

Student ID        int64
student_name     object
gender           object
grade            object
school_name      object
reading_score     int64
math_score        int64
School ID         int64
type             object
size              int64
budget            int64
dtype: object

In [11]:
total_students = sdc_df['Student ID'].count()
total_students

39170

In [14]:
total_schools = sdc_df['School ID'].nunique()
total_schools

15

In [23]:
total_budget = school_data['budget'].sum()
total_budget

24649428

In [27]:
average_math = (student_data['math_score'].sum()) / total_students
average_math

78.98537145774827

In [28]:
average_reading = (student_data['reading_score'].sum()) / total_students
average_reading

81.87784018381414

In [46]:
Math_pass = student_data[student_data['math_score']>69].count()
math_pass = Math_pass['math_score']
math_pass

29370

In [47]:
math_percentage = (math_pass / total_students)*100
math_percentage

74.9808526933878

In [59]:
Reading_pass = student_data[student_data.reading_score>69].count()
reading_pass = Reading_pass['reading_score']
reading_pass

33610

In [65]:
reading_percentage = (reading_pass / total_students)*100
reading_percentage

SyntaxError: invalid syntax (<ipython-input-65-25cad0f7a997>, line 1)

In [71]:
Overall_pass = student_data[(student_data.reading_score>69) & (student_data.math_score>69)].count()
overall_pass = Overall_pass['math_score']
overall_pass

25528

In [72]:
Overall_percentage = (overall_pass / total_students) * 100
Overall_percentage

65.17232575950983

In [73]:
district_summary = {"Total Schools" : [total_schools],
                   "Total Students" : [total_students],
                   "Total Budget" : [total_budget],
                   "Average Math Score" : [average_math],
                   "Average Reading Score" : [average_reading],
                   "% Passing Math" : [math_percentage],
                   "% Passing Reading" : [reading_percentage],
                   "% Overall Passing" : [Overall_percentage]}
district_df = pd.DataFrame(district_summary)
district_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [ ]:
#Mapping each colunm
district_df["Total Schools"]
district_df["Total Students"]
district_df["Total Budget"]
district_df["Average Math Score"]
district_df["Average Reading Score"]
district_df["% Passing Math"]
district_df["% Passing Reading"]
district_df["% Overall Passing"]
district_df[]
district_df
district_df
district_df
district_df