In [1]:
# Dependencies and Setup
import pandas as pd
#import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
sdc_df = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
sdc_df.head()

In [2]:
#Count values
sdc_df.count()

In [3]:
#Total Students using dataframe
total_students = sdc_df['Student ID'].count()
total_students

In [4]:
#Types of values
sdc_df.dtypes

In [5]:
#Total Schools using dataframe
total_schools = sdc_df['School ID'].nunique()
total_schools

In [6]:
#Total Budget using school data to simplify
total_budget = school_data['budget'].sum()
total_budget = float(total_budget)
total_budget

In [7]:
#Average Math using school data to simplify
average_math = (student_data['math_score'].sum()) / total_students
average_math

78.98537145774827

In [8]:
#Average Math using school data to simplify
average_reading = (student_data['reading_score'].sum()) / total_students
average_reading

81.87784018381414

In [9]:
# Math pass using school data to simplify, then get the value using only math colunm
Math_pass = student_data[student_data['math_score']>69].count()
math_pass = Math_pass['math_score']
math_pass

29370

In [10]:
#Math percentage
math_percentage = (math_pass / total_students)*100
math_percentage

74.9808526933878

In [11]:
# Reading pass using school data to simplify, then get the value using only math colunm
Reading_pass = student_data[student_data.reading_score>69].count()
reading_pass = Reading_pass['reading_score']
reading_pass

33610

In [12]:
# Reading percentage
reading_percentage = (reading_pass / total_students)*100
reading_percentage

85.80546336482001

In [13]:
# Overall pass using count and adding the column at the end to get the numeric value
Overall_pass = student_data[(student_data.reading_score>69) & (student_data.math_score>69)].count()['math_score']
Overall_pass

25528

In [14]:
#Overall percentage
Overall_percentage = (Overall_pass / total_students) * 100
Overall_percentage

65.17232575950983

In [15]:
#Use the variable obtained above to make a new data frame that summarize the district data. 

district_summary = {"Total Schools" : [total_schools],
                   "Total Students" : [total_students],
                   "Total Budget" : [total_budget],
                   "Average Math Score" : [average_math],
                   "Average Reading Score" : [average_reading],
                   "% Passing Math" : [math_percentage],
                   "% Passing Reading" : [reading_percentage],
                   "% Overall Passing" : [Overall_percentage]}
district_df = pd.DataFrame(district_summary)
district_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428.0,78.985371,81.87784,74.980853,85.805463,65.172326

In [16]:
#Format the column for best reading.

In [17]:
#district_df["Total Students"] = (district_df["Total Students"]).map("{:,}".format)
#district_df['Total Students']

In [18]:
district_df["Total Students"] = district_df["Total Students"].map("{:,}".format)
district_df["Total Students"]
#district_df["Total Schools"] = district_df["Total Schools"].map("{:,.2}".format)

0    39,170
Name: Total Students, dtype: object

In [19]:
district_df["Total Budget"] = district_df["Total Budget"].map("${:,}".format)
district_df["Total Budget"]

0    $24,649,428.0
Name: Total Budget, dtype: object

In [20]:
#Mapping each colunm
 

#district_df["Total Budget"] = district_df["Total Budget"].map("${:,.2f}".format)
district_df["Average Math Score"] = district_df["Average Math Score"].map("{:,.2f}".format)
district_df["Average Reading Score"] = district_df["Average Reading Score"].map("{:,.2f}".format)
#district_df["% Passing Math"] = district_df["% Passing Math"].map("{:,.2f}%".format)
district_df["% Passing Reading"] = district_df["% Passing Reading"].map("{:,.2f}%".format)
district_df["% Overall Passing"] = district_df["% Overall Passing"].map("{:,.2f}%".format)

In [21]:
district_df["% Passing Math"] = district_df["% Passing Math"].map("{:,.2f}%".format)
district_df["% Passing Math"]

0    74.98%
Name: % Passing Math, dtype: object

# District Summary Complete

In [22]:
district_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","$24,649,428.0",78.99,81.88,74.98%,85.81%,65.17%

# School Summary

In [23]:
#School Types
school_types = pd.DataFrame(sdc_df.set_index(["school_name"])["type"])
#school_types_df = pd.DataFrame(school_types)
school_types

                        type
school_name
Huang High School   District
Huang High School   District
Huang High School   District
Huang High School   District
Huang High School   District
...                      ...
Thomas High School   Charter
Thomas High School   Charter
Thomas High School   Charter
Thomas High School   Charter
Thomas High School   Charter

[39170 rows x 1 columns]

In [24]:
#S = sdc_df.groupby(["school_name"])["type"]
#S

In [25]:
per_school_budget = sdc_df.groupby(["school_name"]).mean()["budget"]
per_school_budget

school_name
Bailey High School       3124928.0
Cabrera High School      1081356.0
Figueroa High School     1884411.0
Ford High School         1763916.0
Griffin High School       917500.0
Hernandez High School    3022020.0
Holden High School        248087.0
Huang High School        1910635.0
Johnson High School      3094650.0
Pena High School          585858.0
Rodriguez High School    2547363.0
Shelton High School      1056600.0
Thomas High School       1043130.0
Wilson High School       1319574.0
Wright High School       1049400.0
Name: budget, dtype: float64

In [26]:
# Calculate the total student count per school
per_school_counts = sdc_df["school_name"].value_counts()

# Calculate the total school budget and per capita spending

per_school_budget = sdc_df.groupby(["school_name"]).mean()["budget"]
per_school_capita = per_school_budget / per_school_counts


per_school_capita

Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [27]:
# Calculate the average test scores
per_school_math = sdc_df.groupby(["school_name"]).mean()["math_score"]
per_school_reading = sdc_df.groupby(["school_name"]).mean()["reading_score"]
per_school_math

sdc_df.groupby(["school_name"]).mean()["math_score"]
sdc_df.groupby(["school_name"]).mean()["reading_score"]

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [28]:
# Get students who passed math per school
score_passing_math = sdc_df[sdc_df['math_score']>=70]
score_passing_math

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [29]:
# Get students who passed reading per school

#if the school name is = Huang High School then sum math score / school count
score_passing_reading = sdc_df[sdc_df['reading_score']>=70]
score_passing_reading

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [30]:
#passing both
score_passing_both = sdc_df[(sdc_df['math_score']>=70) & (sdc_df['reading_score']>=70)]
score_passing_both

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [31]:
# Percentage math passing per school
#if the school name is = Huang High School then sum math score / school count
per_school_passing_math = score_passing_math.groupby(["school_name"]).count()["student_name"] / per_school_counts * 100
per_school_passing_math

Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
dtype: float64

In [32]:
# Percentage math passing per school

per_school_passing_reading = score_passing_reading.groupby(["school_name"]).count()["student_name"] / per_school_counts * 100
per_school_passing_reading

Bailey High School       81.933280
Cabrera High School      97.039828
Figueroa High School     80.739234
Ford High School         79.299014
Griffin High School      97.138965
Hernandez High School    80.862999
Holden High School       96.252927
Huang High School        81.316421
Johnson High School      81.222432
Pena High School         95.945946
Rodriguez High School    80.220055
Shelton High School      95.854628
Thomas High School       97.308869
Wilson High School       96.539641
Wright High School       96.611111
dtype: float64

In [33]:
# Percentage math passing per school

per_school_passing_overall = score_passing_both.groupby(["school_name"]).count()["student_name"] / per_school_counts * 100
per_school_passing_overall

Bailey High School       54.642283
Cabrera High School      91.334769
Figueroa High School     53.204476
Ford High School         54.289887
Griffin High School      90.599455
Hernandez High School    53.527508
Holden High School       89.227166
Huang High School        53.513884
Johnson High School      53.539172
Pena High School         90.540541
Rodriguez High School    52.988247
Shelton High School      89.892107
Thomas High School       90.948012
Wilson High School       90.582567
Wright High School       90.333333
dtype: float64

In [34]:
# Convert to DataFrame
per_school_summary = pd.DataFrame({#"School Type": sdc_df.set_index(["school_name"])["type"],
                                   "Total Students": sdc_df["school_name"].value_counts(),
                                   "Total School Budget": sdc_df.groupby(["school_name"]).mean()["budget"],
                                   "Per Student Budget": (sdc_df.groupby(["school_name"]).mean()["budget"]) / sdc_df["school_name"].value_counts(),
                                   "Average Math Score": sdc_df.groupby(["school_name"]).mean()["math_score"],
                                   "Average Reading Score": sdc_df.groupby(["school_name"]).mean()["reading_score"],
                                   "% Passing Math": score_passing_math.groupby(["school_name"]).count()["student_name"] / per_school_counts * 100,
                                   "% Passing Reading": score_passing_reading.groupby(["school_name"]).count()["student_name"] / per_school_counts * 100,
                                   "% Overall Passing": score_passing_both.groupby(["school_name"]).count()["student_name"] / per_school_counts * 100 })
#per_school_summary_df = pd.DataFrame(per_school_summary)
per_school_summary

,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,4976,3124928.0,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,1858,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,2949,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,2739,1763916.0,644.0,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,1468,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,4635,3022020.0,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,427,248087.0,581.0,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,2917,1910635.0,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,4761,3094650.0,650.0,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,962,585858.0,609.0,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,3999,2547363.0,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,1761,1056600.0,600.0,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,1635,1043130.0,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,2283,1319574.0,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,1800,1049400.0,583.0,83.682222,83.955000,93.333333,96.611111,90.333333

In [36]:
#Mapping and formatting


per_school_summary["Total Students"] = per_school_summary["Total Students"].map("{:,}".format)
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,}".format)
per_school_summary["Average Math Score"] = per_school_summary["Average Math Score"].map("{:,.2f}".format)
per_school_summary["Average Reading Score"] = per_school_summary["Average Reading Score"].map("{:,.2f}".format)
per_school_summary["% Passing Math"] = per_school_summary["% Passing Math"].map("{:,.2f}%".format)
per_school_summary["% Passing Reading"] = per_school_summary["% Passing Reading"].map("{:,.2f}%".format)
per_school_summary["% Overall Passing"] = per_school_summary["% Overall Passing"].map("{:,.2f}%".format)

per_school_summary

,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
Bailey High School,"4,976","$3,124,928.0",$628.0,77.05,81.03,66.68%,81.93%,54.64%
Cabrera High School,"1,858","$1,081,356.0",$582.0,83.06,83.98,94.13%,97.04%,91.33%
Figueroa High School,"2,949","$1,884,411.0",$639.0,76.71,81.16,65.99%,80.74%,53.20%
Ford High School,"2,739","$1,763,916.0",$644.0,77.10,80.75,68.31%,79.30%,54.29%
Griffin High School,"1,468","$917,500.0",$625.0,83.35,83.82,93.39%,97.14%,90.60%
Hernandez High School,"4,635","$3,022,020.0",$652.0,77.29,80.93,66.75%,80.86%,53.53%
Holden High School,427,"$248,087.0",$581.0,83.80,83.81,92.51%,96.25%,89.23%
Huang High School,"2,917","$1,910,635.0",$655.0,76.63,81.18,65.68%,81.32%,53.51%
Johnson High School,"4,761","$3,094,650.0",$650.0,77.07,80.97,66.06%,81.22%,53.54%
Pena High School,962,"$585,858.0",$609.0,83.84,84.04,94.59%,95.95%,90.54%
Rodriguez High School,"3,999","$2,547,363.0",$637.0,76.84,80.74,66.37%,80.22%,52.99%
Shelton High School,"1,761","$1,056,600.0",$600.0,83.36,83.73,93.87%,95.85%,89.89%
Thomas High School,"1,635","$1,043,130.0",$638.0,83.42,83.85,93.27%,97.31%,90.95%
Wilson High School,"2,283","$1,319,574.0",$578.0,83.27,83.99,93.87%,96.54%,90.58%
Wright High School,"1,800","$1,049,400.0",$583.0,83.68,83.95,93.33%,96.61%,90.33%

# Score by grade

In [37]:
#Average by grade
nineth = (sdc_df['grade']== '9th')
nineth

0         True
1        False
2        False
3        False
4         True
         ...
39165    False
39166    False
39167     True
39168    False
39169    False
Name: grade, Length: 39170, dtype: bool

In [42]:
tenth = (sdc_df['grade']== '10th')
tenth

0        False
1        False
2        False
3        False
4        False
         ...
39165    False
39166     True
39167    False
39168     True
39169    False
Name: grade, Length: 39170, dtype: bool

In [ ]:
eleventh = (sdc_df['grade']== '11th')
twelveth = (sdc_df['grade']== '12th')

# Score by School Spending

In [62]:
#binning per budget
spending_bins = [0,585,630,645,680]
spendign_ranges = ['0-$585','$585-630', '$630-645', '$645-680']

In [63]:
per_budget_math = pd.cut(per_school_summary["Total School Budget"], bins, labels=spendign_ranges)

per_budget_math

TypeError: '<' not supported between instances of 'int' and 'str'

In [59]:
# Create a copy of the school summary since it has the "Per Student Budget" 
#  This step can be skip but its best to make a copy. 
school_spending_df = per_school_summary

# Categorize spending based on the bins.
school_spending_df["Spending Ranges (Per Student)"] = pd.cut(per_school_capita, spending_bins, labels=group_names, right=False)
school_spending_df

NameError: name 'spending_bins' is not defined