In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.  
sdc_df = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
sdc_df.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [2]:
sdc_df.count()

Student ID       39170
student_name     39170
gender           39170
grade            39170
school_name      39170
reading_score    39170
math_score       39170
School ID        39170
type             39170
size             39170
budget           39170
dtype: int64

In [3]:
total_students = sdc_df['Student ID'].count()
total_students

39170

In [4]:

sdc_df.dtypes

Student ID        int64
student_name     object
gender           object
grade            object
school_name      object
reading_score     int64
math_score        int64
School ID         int64
type             object
size              int64
budget            int64
dtype: object

In [5]:
total_schools = sdc_df['School ID'].nunique()
total_schools

15

In [6]:
total_budget = school_data['budget'].sum()
total_budget

24649428

In [7]:
average_math = (student_data['math_score'].sum()) / total_students
average_math

78.98537145774827

In [8]:
average_reading = (student_data['reading_score'].sum()) / total_students
average_reading

81.87784018381414

In [9]:
Math_pass = student_data[student_data['math_score']>69].count()
math_pass = Math_pass['math_score']
math_pass

29370

In [10]:
math_percentage = (math_pass / total_students)*100
math_percentage

74.9808526933878

In [11]:
Reading_pass = student_data[student_data.reading_score>69].count()
reading_pass = Reading_pass['reading_score']
reading_pass

33610

In [12]:
reading_percentage = (reading_pass / total_students)*100
reading_percentage

85.80546336482001

In [13]:
Overall_pass = student_data[(student_data.reading_score>69) & (student_data.math_score>69)].count()['math_score']
#overall_pass = Overall_pass['math_score']
Overall_pass

25528

In [15]:
Overall_percentage = (Overall_pass / total_students) * 100
Overall_percentage

65.17232575950983

In [16]:
district_summary = {"Total Schools" : [total_schools],
                   "Total Students" : [total_students],
                   "Total Budget" : [total_budget],
                   "Average Math Score" : [average_math],
                   "Average Reading Score" : [average_reading],
                   "% Passing Math" : [math_percentage],
                   "% Passing Reading" : [reading_percentage],
                   "% Overall Passing" : [Overall_percentage]}
district_df = pd.DataFrame(district_summary)
district_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,39170,24649428,78.985371,81.87784,74.980853,85.805463,65.172326

In [ ]:
#district_df["Total Students"] = district_df["Total Students"].map("{:,.2f}".format)
district_df["Total Students"]

In [ ]:
#Mapping each colunm
district_df["Total Schools"] = district_df["Total Schools"].map("{:,.2}".format) 
district_df["Total Students"] = district_df["Total Students"].map("{:,.2}".format)
district_df["Total Budget"] = district_df["Total Budget"].map("${:,.2}".format)
district_df["Average Math Score"] = district_df["Average Math Score"].map("{:,.2}".format)
district_df["Average Reading Score"] = district_df["Average Reading Score"].map("{:,.2}".format)
district_df["% Passing Math"] = district_df["% Passing Math"].map("{:,.2f}%".format)
district_df["% Passing Reading"] = district_df["% Passing Reading"].map("{:,.2f}%".format)
district_df["% Overall Passing"] = district_df["% Overall Passing"].map("{:,.2}%".format)

In [ ]:
district_df["% Passing Math"] = district_df["% Passing Math"].map("{:,.2f}%".format)
district_df["% Passing Math"]

In [17]:
school_types = sdc_df.set_index(["school_name"])["type"]
school_types

school_name
Huang High School     District
Huang High School     District
Huang High School     District
Huang High School     District
Huang High School     District
                        ...
Thomas High School     Charter
Thomas High School     Charter
Thomas High School     Charter
Thomas High School     Charter
Thomas High School     Charter
Name: type, Length: 39170, dtype: object

In [18]:

# Calculate the total student count
per_school_counts = sdc_df["school_name"].value_counts()

# Calculate the total school budget and per capita spending

# per_school_budget = sdc_df.groupby(["school_name"]).mean()["budget"]
per_school_budget = sdc_df.groupby(["school_name"]).mean()["budget"]
per_school_capita = per_school_budget / per_school_counts


per_school_capita

Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [23]:
# Calculate the average test scores
per_school_math = sdc_df.groupby(["school_name"]).mean()["math_score"]
per_school_reading = sdc_df.groupby(["school_name"]).mean()["reading_score"]
per_school_math

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [20]:
score_passing_math = sdc_df[sdc_df['math_score']>=70]
score_passing_math

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [21]:
#if the school name is = Huang High School then sum math score / school count
score_passing_reading = sdc_df[sdc_df['reading_score']>=70]
score_passing_reading

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [24]:
#passing both
score_passing_both = sdc_df[(sdc_df['math_score']>=70) & (sdc_df['reading_score']>=70)]
score_passing_both

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635
...,...,...,...,...,...,...,...,...,...,...,...
39165,39165,Donna Howard,F,12th,Thomas High School,99,90,14,Charter,1635,1043130
39166,39166,Dawn Bell,F,10th,Thomas High School,95,70,14,Charter,1635,1043130
39167,39167,Rebecca Tanner,F,9th,Thomas High School,73,84,14,Charter,1635,1043130
39168,39168,Desiree Kidd,F,10th,Thomas High School,99,90,14,Charter,1635,1043130
39169,39169,Carolyn Jackson,F,11th,Thomas High School,95,75,14,Charter,1635,1043130

In [27]:
per_school_passing_math = score_passing_math.groupby(["school_name"]).count()["student_name"] / per_school_counts * 100
per_school_passing_math

Bailey High School       66.680064
Cabrera High School      94.133477
Figueroa High School     65.988471
Ford High School         68.309602
Griffin High School      93.392371
Hernandez High School    66.752967
Holden High School       92.505855
Huang High School        65.683922
Johnson High School      66.057551
Pena High School         94.594595
Rodriguez High School    66.366592
Shelton High School      93.867121
Thomas High School       93.272171
Wilson High School       93.867718
Wright High School       93.333333
dtype: float64

In [35]:
# Convert to DataFrame
per_school_summary = pd.DataFrame({"School Type": school_types,
                                   "Total Students": per_school_counts,
                                   "Total School Budget": per_school_budget,
                                   "Per Student Budget": per_school_capita,
                                   "Average Math Score": per_school_math,
                                   "Average Reading Score": per_school_reading,
                                   "% Passing Math": per_school_passing_math,
                                   "% Passing Reading": per_school_passing_reading,
                                   "% Overall Passing": overall_passing_rate})

NameError: name 'per_school_passing_reading' is not defined

# Binning

In [33]:
bins = [0,585,630,645,680]
groupnames = ['<$585','$585-630', '$630-645', '$645-680']

In [34]:
pd.cut(sdc_df["budget"], bins, labels=groupnames)

0        NaN
1        NaN
2        NaN
3        NaN
4        NaN
        ...
39165    NaN
39166    NaN
39167    NaN
39168    NaN
39169    NaN
Name: budget, Length: 39170, dtype: category
Categories (4, object): [<$585 < $585-630 < $630-645 < $645-680]

In [ ]:
# Create a copy of the school summary since it has the "Per Student Budget" 
#  This step can be skip but its best to make a copy. 
school_spending_df = per_school_summary

# Categorize spending based on the bins.
school_spending_df["Spending Ranges (Per Student)"] = pd.cut(per_school_capita, spending_bins, labels=group_names, right=False)
school_spending_df